@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);
}

:root {
  --brand-primary: #10b981;
  --brand-secondary: #0d9488;
  --brand-accent: #84cc16;
}

